<%= render 'shared/errors', obj: @article %>

  <div class='row'> 
    <div class='col-xs-12'>
      <!--This is a call to the form_for view helper with the instance variable representing the article object.-->
      <!--The html hash has a key of :html and contains the set of attributes and their values which will be added to the form markup. The class of the form will be "form-horizontal" and the role will be "form".-->
      <%= form_for(@article, :html=> {class: "form-horizontal", role: "form"}) do |f| %>
        <div class='form-group'>
          <div class='control-label col-sm-2'>
            <%= f.label :title %> 
          </div>
          <div class='col-sm-6'>
            <%= f.text_field :title, class: "form-control", placeholder: "Title Of New Article", autofocus: true %>
          </div>
        </div>
        <br />
     <div class='form-group'>
        <div class='control-label col-sm-2'>
          <%= f.label :description %>
        </div>
        <div class='col-sm-8'>
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Article Description" %>
        </div>
      </div> 
    <div class='form-group'>
      <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
          <!--this displays checkboxes for categories and name of category right after the checkbox for all categories-->
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
            <% cb.label(class: "checkbox-inline input_checkbox") { cb.check_box(class: "checkbox") + cb.text } %>
          <% end %>
        </div>
      </div>
    </div>  
      
    <div class='form-group'>
      <div class='col-sm-offset-2 col-sm-10'>
      <%= f.submit class: "btn btn-primary btn-lg" %>
      </div>
    </div> 
  
  <% end %>
  
      <div class='col-xs-4 col-xs-offset-4'>
        [ <%= link_to "Cancel Post and Return to Archives", articles_path %> ]
      </div>
    </div>
  </div>  

