<h1>Show Posted Articles!</h1


<p>
  Title: <%= @article.title %>
</p> <br />

<p>
  Description: <%= @article.description %>
</p>

<p><%= link_to "Edit Above", edit_article_path(@article) %></p>

<p><%= link_to "Back to Archived Articles", articles_path %> | <%= link_to "Create a new article", new_article_path %></p>









